.custom-link{
    color: white;
    text-decoration: none;
}

.custom-link:hover{
    color: gold;
    text-decoration: none;
}

.custom-link:focus{
    color: gold;
    text-decoration: none;
}

.sidebar{
    height:100%;
    width:70px;
    background: linear-gradient(180deg, #211F1B, #040608);
    position:fixed!important;
    z-index:1;
    overflow:auto
}

.sidebar-block{
    width:100%;
    height:70px;
    padding:8px 16px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    text-decoration-color: white!important;
}


.sidebar-block:focus{
    width:100%;
    height:70px;
    padding:8px 16px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    text-decoration-color: white!important;
    background-color: darkgray;
}

.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{
    width:100%
}

.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{
    min-width:100%
}

.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{
    width:100%;
    text-align:left;

}

.w3-bar .w3-bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block
}

.w3-bar-block .w3-bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none
}

.w3-bar-block.w3-center .w3-bar-item{
    text-align:center
}

.w3-block{
     display:block;
     width:100%
 }

.main-content{
    margin-top: 70px;
}


