
.custom-link{
    color: white;
    text-decoration: none;
}

.custom-link:hover{
    text-decoration: none;
}

.custom-link:focus{
    color: lightgrey;
    text-decoration: none;
}

.banner{
    position: relative;
    height: 150px;
    width: 100%;
    overflow: hidden;
    background-image: url("img/pink dust.png");
}

.scrollbox{
    height:200px;
    overflow: auto
}


.btn-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.sub-content{
    padding: 10px 10px 10px 10px;
    background-color: white;
    border-radius: 10px;
}

.btn-red{
    background-color: #C04C71 !important;
}

.banner-border{
    height: 5px;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 218, 64, 0), rgba(0, 6, 0, 1));
}

.btn-save{
    background-color: #98B740;
}

.btn-cancel{
    background-color: #FF1A3E;
}

body{
    background-image: url("img/vertical-waves.png");
}

.bg-stardust{
    background-image: url("img/stardust.png");
}

.bg-verticalwaves{
    background-image: url("img/vertical-waves.png");
}

.font1{
    font-family: 'Cutive Mono', monospace;
    color: white;
}

.font1-black{
    font-family: 'Cutive Mono', monospace;
    color: black;
}

.font2{
    font-family: 'Raleway', sans-serif;
    color:white;
}

.font2-black{
    font-family: 'Raleway', sans-serif;
    color: black;
}

.custom-navbar{
    height: 50px;
    width: auto;
    background-image: url("/img/brushed.png");
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 15px auto 15px auto;
    padding-left: 10px;
}

.navbar-button{
    border-bottom: 1px solid darkgray;
    padding: 10px 25px 3px 25px;
    min-width: 100px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
.navbar-button:focus{
    text-decoration: none;
    color: rgba(153,23,60,1);
}

.navbar-button:hover{
    color: rgba(153,23,60,1);
}

.navbar-button-right{
    border-bottom: 1px solid darkgray;
    padding: 15px 25px 15px 25px;
    min-width: 100px;
    margin: auto auto auto 0;
    text-decoration: none;
    right: 0;
}

.centered-text-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-banner{
    position: absolute;
    left: 50%;
    vertical-align: middle;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    border-color: gray;
}

.sidebar{
    height:100%;
    width:70px;
    background: linear-gradient(180deg, #211F1B, #040608);
    position:fixed!important;
    z-index:1;
    overflow:auto;
}

.sidebar-block{
    width:100%;
    height:70px;
    padding:8px 16px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    text-decoration-color: white!important;
}

.sidebar-block:focus{
    width:100%;
    height:70px;
    padding:8px 16px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    text-decoration-color: white!important;
    background-color: darkgray;
}

.icon-black{
    color:black;
}

.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{
    width:100%;
}

.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{
    min-width:100%;
}

.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{
    width:100%;
    text-align:left;
}


.w3-bar-block.w3-center .w3-bar-item{
    text-align:center;
}

.w3-block{
     display:block;
     width:100%
 }

.main-content{
    padding: 64px 32px 64px 32px;
    background-image: url("/img/brushed.png");
    border-radius: 10px;
}

.top-overlay {
    position: fixed; /* Sit on top of the page content */
    top: 20px;
    z-index: 2; /* Specify a stack order in case you're using a different order for other */
    cursor: pointer; /* Add a pointer on hover */
}